/* tablets/netbooks */
body {
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
    color: #333333;
    font-family: Georgia,"Times New Roman",sans-serif;
    height: 100%;
    min-height: 100%;
    line-height: 1em;
}
 
#pageWrapper {
     background-color: #FFFFFF;
     height: 100%;
     margin: 0 auto;
     position: relative;
     width: 100%;   
}
 
#header {
    float: left;
    clear: both;
    width: 100%;
    margin-right: 0;
}
 
/*Put the logo at the top left*/
#logo {
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
    width: 10%;
    min-width: 112px;
    height: 112px;
    text-indent: -10000px;
    float: left;
}
 
/*Create a horizontal navigation menu*/
#nav {
    float: right;
    clear: right;   
    vertical-align: bottom;
    position: relative;
    top: 80px;
    left: 0;
    width: 75%;
    padding: 3px;
    margin: 3px;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    width: 100%;
    margin: 3px;
    padding: 3px;
}
#nav li {
    display: inline;
    line-height: 1.3em;
    margin-bottom: 18px;
    width: 16%;
    float: left;
}
#nav li a {
    color: #a00;
    text-decoration: none;
    display: inline;
    font-style: italic;
}
 
/*Main top image*/
#slide {
    position: relative;
    width: 98%;
    padding-bottom: 10px;
    margin: auto 1%;
    overflow: hidden;
}
#slide img {
    width: 100%;
}
 
/*Put the recent articles in four columns*/
#recent {
    clear: both;
    margin-bottom: 18px;
    overflow: hidden;
    width: 100%;
}
#recent div {
    float: left;
    margin: 0 1% 25px 1%;
    width: 23%;
}
#recent div a {
    color: #036;
    text-decoration: none;
}
#recent div img {
    padding: 9px 0;
    width: 100%;
    height: auto;
}
#recent div h1 {
    font-size: 1em;
    line-height: 1.3em;
    margin: 10px 0;
}
#recent div p {
    font-size: 0.875em;
    line-height: 1.45em;
}
#recent div a.readMore {
    color: #aaa;
    margin-top: 10px;
}
 
/*Put the social links horizontally across the bottom*/
#social {
	width: 100%;
    margin-left: 2%;
}
#social ul {
    list-style-type: none;
    display: inline;
    clear: right;
}
#social li {
    margin-bottom: 5px;
    display: inline;
    float: left;
    clear: right;
    width: 12%;
}
#social li a {
    display: block;
    width: 95px;
    height: 26px;
    text-indent: -10000px;
    background-image: url('../imgs/social.png');
    background-repeat: no-repeat;
}
.facebook {background-position: 0 0;}
.twitter {background-position: -98px 0;}
.youtube {background-position: -196px 0;}
.foursquare {background-position: -294px 0;}
.ualert {background-position: 0 -27px;}
.uamobile {background-position: -98px -27px;}
.givenow {background-position: -196px -27px;}
.uagreen {background-position: -294px -27px;}
 
 
#footer {
    clear: both;
    display: block; 
    text-align: center;
    font-style: italic;
    color: #666;
    font-size: .9em;
}