body {
    position: relative;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
    background-color: #6e7f80;
}

.python_website_generator { 
   background-color:#6e7f80; /*this backgroud color needs to be the same as the body*/
   text-align: center;
}

.ging_list { /*this is the Ging's List*/
    margin-left: 25px;
    /*position: fixed;*/
}
/*this is Ging's Food list*/
.gings_foodList {
    /*position: fixed;*/ /*Probably shouldn't be relative*/
    /*background-size: 100px 100px;*/
    background-color: orange;
    /*background-origin: content-box;*/
    
    /*padding-left: 100px;
    padding-right: 100px;*/
}

.Albertnuts_list { /*this is Albert's nut list*/
    margin-bottom: 40px;
    margin-left: 415px;
    /*margin-right: 100px;*/
}
/*this is the list dotted*/
.list_dotted {
    margin-left: 382px;
    background-color: #F08080;
    margin-bottom: 20px;
}

p:first-child {
    font-style: italic;
    border: 1px solid red;
}

.pp_two {
    font-style: oblique;
    border: 2px solid blue;
}

blockquote footer{
   background-color: #6e7f80;
   color: white;
   height: inherit; 
}

footer{
    text-align: center;
    width: 100%;
    background-color: #536872;
    height: 50px;
    margin-top: 3%;
}

/* ###########################################################################
Mobile 
###########################################################################*/

@media screen and (max-width:480px){
    main{
        margin-top: 2em;
        padding: 3px;
    }
    
    footer{
        text-align: center;
        color: #E7E7E7;
    }
}

/* ###########################################################################
Small Tablet
###########################################################################*/
@media screen and (min-width:481px) and (max-width:768px) {
    .content{
        padding: 0 10%;
    }
}


/* ###########################################################################
Large Tablet
###########################################################################*/
@media screen and (min-width:769px) and (max-width:1024px){
    
    .content{
        padding: 0 10%;
    }
}


/* ###########################################################################
Desktop
###########################################################################*/

@media screen and (min-width:1025px){    
    .content{
        padding: 0 15%;
    }
}