body{
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
    background-color: #6e7f80;
    color: white;
}

header { 
   color: #536878;
}

a {
   color: #36454f;
}

a:hover{
    font-weight: bold;
}

blockquote footer{
   background-color: #6e7f80;
   color: white;
}

footer{
    text-align: center;
    width: 100%;
    background-color: #536872;
}

/* ###########################################################################
Mobile 
###########################################################################*/

@media screen and (max-width:480px){
    main{
        margin-top: 2em;
        padding: 3px;
    }
    
    footer{
        text-align: center;
        color: #E7E7E7;
    }
}

/* ###########################################################################
Small Tablet
###########################################################################*/
@media screen and (min-width:481px) and (max-width:768px) {
    .content{
        padding: 0 10%;
    }
}


/* ###########################################################################
Large Tablet
###########################################################################*/
@media screen and (min-width:769px) and (max-width:1024px){
    
    .content{
        padding: 0 10%;
    }
}


/* ###########################################################################
Desktop
###########################################################################*/

@media screen and (min-width:1025px){    
    .content{
        padding: 0 15%;
    }
}