body {
    width: 100%;
    background-color: #eeeeee;
    margin: 0;
}

.python_website_generator { 
   text-align: center;
   background-color: red;
   text-align: center;
   position:relative;
   width: 400px;
   height:100px;
   left:8px;
   text-align:center;
   margin: 2em;
}

p{
    width: 90%;
    margin: 1em;
}

a{
    color: #000;
    transition: 1s ease;
    margin: 1em;
}

#capstone, #click, button, a:hover{
    background-color: #d8c179;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #d8c179;
    border-radius: 5px;
    cursor: pointer;
}

img{
    width: 40%;
    margin: 1em;
}

ol, ul{
    background-color: #9d92a9;
    width: 20%;
    border-radius: 10px;
    margin-left: 2%;
    padding: 20px 0;
    padding-left: 40px;
}

#hideMe, #fontIncrease{
    background-color: #ab5757;
    color: white;
    width: 20%;
    border-radius: 10px;
    margin: 2%;
    padding: 20px 0;
    padding-left: 40px;
    font-weight: bold;
}

blockquote, blockquote footer{ 
    color: #9d92a9;
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.twitter-timeline{
    max-height: 600px;
    max-width: 800px;
    overflow-y: scroll;
}

#footer{
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 2em 0 -2em -2em;
    padding-top: 1em;
    background-color: #5c4b72;
    color: white;
}

/* ###########################################################################
                                Mobile 
###########################################################################*/

@media screen and (max-width:480px){

}

/* ###########################################################################
                                Small Tablet
###########################################################################*/
@media screen and (min-width:481px) and (max-width:768px) {

}


/* ###########################################################################
                                Large Tablet
###########################################################################*/
@media screen and (min-width:769px) and (max-width:1024px){
    
}


/* ###########################################################################
                                Desktop
###########################################################################*/

@media screen and (min-width:1025px){    

}